* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body,
html {
  font-family: "Arial", sans-serif !important;
  color: #3d405b;
  background-color: #f4f1de !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  background-color: #e07a5f;
  color: #f4f1de;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

main {
  flex: 1;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}

button {
  background-color: #81b29a;
  color: #f4f1de;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d405b;
}

section {
  padding: 40px 20px;
  background: linear-gradient(135deg, #f4f1de, #e07a5f20);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #186a48 !important;
  color: #f4f1de !important;
  padding: 10px 20px !important;
  display: flex !important;
  align-items: center   !important;
  justify-content: space-between !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  width: 100% !important;
}

.navbar .logo {
  display: flex !important;
  align-items: center   !important;
}

.navbar .logo img {
  height: 50px !important;
  margin-right: 10px  !important;
}

.navbar .logo span {
  font-size: 1.2rem !important;
  font-weight: bold  !important;
}

.navbar .links {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-right: 2%;
}

.navbar a {
  color: #f4f1de;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar a:hover {
  color: #81b29a !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
}

.dropdown-item {
  color: #f4f1de;
  font-weight: bold;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #186a48 !important;
}

.dropdown-menu a {
  padding: 10px 20px;
}

.dropdown-menu {
  background-color: #186a48 !important;
  max-height: 70vh !important;
  overflow-y: auto !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  transform: translateX(-50%) !important;
  z-index: 10000 !important;
}

.dropdown-toggle {
  color: #f8f9fa !important;
}