.about-page {
    padding: 20px;
    text-align: center;
}

.about-page section {
    margin-bottom: 60px;
    background-color: #d8f3dc;
    color: #186a48 !important;
}

.about-header {
    background-color: #F4F1DE;
    color: #E07A5F;
    padding: 0px;
    margin-bottom: 40px;
}
.about-header h1 {
    font-size: 2.5rem;
    color: #186a48 !important;
}

.our-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 2rem !important;
    color: #186a48 !important;
    margin-bottom: 20px !important;
    font-weight: 600 !important;
}

.our-story .story-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 20px;
}

.our-story p {
    font-size: 1.2rem;
    color: #3D405B;
    flex: 1;
    text-align: left;
    margin: 0;
}

.our-story img {
    flex: 1;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.our-approach {
    margin-bottom: 40px;
}

.arrow-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline-container {
    display: flex;
    flex-direction: column;
}
.timeline-item {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    border: 3px solid #186a48 ;
    border-radius: 15px;
    background-color: #f4f1de;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.timeline-item.left {
    flex-direction: row-reverse !important;
}
.timeline-item img {
    border-radius: 10px;
    height: 40%;
    width: 40%;
}
.timeline-item .timeline-content {
    text-align: center;
    flex: 1;
}
.timeline-item h3 {
    font-size: 1.5rem;
    color: #3D405B;
}
.timeline-item p {
    color: #3D405B;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.modal-content {
    background-color: #F4F1DE !important;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    animation: scaleUp 0.3s ease;
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-header {
    color: #E07A5F !important;
}

.modal-content p {
    font-size: 1rem !important;
    color: #3D405B !important;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #E07A5F;
    cursor: pointer;
}


.sustainability {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.sustainability h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.sustainability-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sustainability img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px;
}

.sustainability p {
    font-size: 1.2rem;
    color: #3D405B;
    text-align: left;
    margin-right: 20px;
}


.meet-chefs {
    margin-bottom: 40px;
}
.meet-chefs .chefs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.meet-chefs .chef-card {
    background-color: #F4F1DE;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.meet-chefs .chef-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.meet-chefs .chef-card h3 {
    font-size: 1.5rem;
    color: #186a48;
}
.meet-chefs .chef-card p {
    font-size: 1rem;
    color: #3D405B;
}

.meet-chefs .h2 {
    margin-bottom: 20px !important;
}