.btn {
  background-color: #186a48;
  color: white;
}
.btn:hover {
  color: white;
  background-color: #3d405b;
}

.contact {
  height: calc(100vh - 420px);
}

@media (max-width: 768px) {
  .p-4 {
    min-width: 35vh !important;
  }
}