.order-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #F4F1DE;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.go-to-menu-btn {
  margin-top: 10px;
}

.order-page .cart {
  margin-top: 20px;
  position: relative;
  width: 100%;
  background-color: #F4F1DE;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  max-height: none;
}

.order-page h2 {
  text-align: center;
  color: #E07A5F;
  margin-bottom: 20px;
}

.order-page .cart h3 {
  text-align: center;
  color: #E07A5F;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.order-page .cart ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  width: 100%;
  min-height: 200px;
}

.order-page .cart li {
  font-size: 1.1rem;
  color: #3D405B;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-page .cart li span {
  font-weight: bold;
  color: #E07A5F;
}

.order-page .cart .total {
  font-weight: bold;
  color: #3D405B;
  font-size: 1.2rem;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.order-page form {
  width: 100%;
}

.order-page form label {
  display: block;
  margin-bottom: 5px;
  color: #3D405B;
  font-weight: bold;
}

.order-page form input,
.order-page form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #81B29A;
  border-radius: 5px;
  font-size: 1rem;
}

.order-page form button {
  width: 100%;
  background-color: #E07A5F;
  color: #F4F1DE;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
