.order-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  display: flex; 
  flex-direction: column;
}

.go-to-menu-btn {
  margin-top: 10px;
  border-radius: 5px;
}

.order-page button  {
  background-color: #186a48 !important;
}

.order-page .cart {
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-height: none;
}

.order-page .cart li {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.order-page .cart .total {
  color: #3D405B;
  font-size: 1.2rem;
  text-align: center;
}

.order-page form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.order-page form input,
.order-page form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #81B29A;
  border-radius: 5px;
}

.order-page form button {
  width: 100%;
  font-size: 1.2rem;
}

.order-page form button:hover {
  background-color: #3D405B !important;
}