header {
  background-color: #f4f1de;
}

h1 {
  color: #186a48 !important;
}

.btn-primary {
  background-color: #186a48 !important;
  border-color: #186a48 !important;
}

.btn-primary:hover {
  color:#d6d3bc !important;
}

.reviews-container {
    padding: 1rem;
  }
  
  .reviews-container .review {
    background-color: #d8ccba;
  }
  
.cancel-btn {
  background-color: #d8ccba !important;
  border-color: #d8ccba !important;
  color: #186a48 !important;
}

.cancel-btn:hover {
  color: #539177 !important;
}